/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

h2 {
  margin-top: 20px;
}

h3 {
  margin: 10px 0;
}

.graph-container {
  width: 80%;
  height: 50vh;
  margin: 0 auto;
}