/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
}

.App-header h1 {
  margin: 0;
}

.App-header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App-header nav ul li {
  display: inline;
  margin-left: 10px;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
}

.header-nav {
  padding-right: 120px;
}

h2 {
  margin-top: 20px;
}

h3 {
  margin: 10px 0;
}

.graph-container {
  width: 80%;
  height: 50vh;
  margin: 0 auto;
  padding-bottom: 40px;
  border: 1px solid black;

}

.App-footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin-top: 40px;
}

.App-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App-footer ul li {
  display: inline;
  margin-right: 10px;
}

.App-footer ul li a {
  color: white;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo img {
  height: 30px;
  margin-right: 10px;
  filter: invert(1);
}

.main-bottom {
  text-align: left;
   margin: auto; 
   width: 80%;
   line-height: 140%;
}